/*  google font  @import  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

/* common css style for all */

body {
    font-family: 'Poppins', sans-serif;
}



/* header section start  */
header,
footer,
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 1320px;
    background: #1E1E1E;
    margin-top: 30px;

}

.tv-show {
    display: flex;
    margin: 30px;
    padding: 10px 25px;
}

.show-details {
    color: #ffff;
    margin-bottom: 80px;
}

.show a {
    text-decoration: none;

}

.show-title {
    font-size: 70px;
    font-weight: 700;
}

.show-details,
.show-banner {
    width: 50%;
    margin-left: 30px;

}

.watch-btn {
    background-color: #DD0000;
    padding: 16px 25px;
    border-radius: 5px;
    text-decoration: none;
    color: #ffff;

}

.fa-solid {
    margin-left: 20px;
}


/* header section style end  */




/* main section style start   */

.win-container {

    display: flex;
    margin-top: 60px;

}

.item-container {
    border-radius: 12px;
    width: 312px;
    height: 312px;
    background-color: black;
    margin: 0px 10px;
}

.item li {
    list-style: none;

}

.item li a {
    text-decoration: none;
    color: black;
    text-align: center;
    text-transform: uppercase;
}

.item-1,
.item-2,
.item-3 {
    background-color: #fff;
    padding: 17px 39px;
    border-radius: 10px;
    margin: 20px;
}

.item-3 {
    background: #DD0000;
    border-radius: 10px;
}

.win-blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 1200px;
}
.blog{
    border:1px solid aqua;
    padding: 10px;
    margin-left: 10px;
}
 .view-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display:none;
 }

.blog-info {
    display: flex;
    justify-content: baseline;
}
button {
    text-align: center;
    margin: 10px 20px;
    padding: 5px 15px;
}

/* -----------------Footer style start ---------------- */
footer {
    background-color: black;
    margin-top: 50px;
}

.copyright-container {
    width: 1320px;
}

.copyright-details {
    text-align: center;
    color: #fff;
    margin: 50px 0px;
}

nav {
    margin-bottom: 70px;
}

nav li {
    list-style: none;
    margin-left: 10px;

}

nav ul {
    display: flex;
    justify-content: space-evenly;
    padding: 5px 10px;
    
}

nav li a {
    text-decoration: none;
    color: #ffff;
    font-size: 18px;
}
.social-icon{
   display: none;
}
.social-icon ul{
    display: flex;
    justify-content: center;
    background-color: gray;
}
.social-icon ul li{
    margin-left: 30px;
    list-style: none;
    padding: 10px 20px;
    
}
.social-icon ul li a{
    text-decoration: none;
    font-size: 30px;
}
/* -------------------------------------            Media query start       ------------------------------------------------- */



/*                  ----------------------------      smaller screen [M0bille]                   --------------------------*/
@media  only screen and (max-width: 768px){
    .container,.win-blogs {
        width: 100%;
    }
   /* .blog{
    display: flex;
    align-items: center;
   } */
    .tv-show{
        flex-direction: column;
    }
    .win-container{
        flex-direction: column;
        align-items: center;
    }

    .win-blogs{
        grid-template-columns: repeat(1, 1fr);
    }
    footer nav{
        flex-direction: column;
    }
   nav ul{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
   }
   nav ul li{
    margin-top: 15px;
   }
   .social-icon{
    display:block;
   }
}
/*   -----------------------------------------------                 Tablet screen display                     --------------- */

@media only screen and (min-width:768px) and (max-width:992px){

    .container,.win-blogs, .item-container {
        width: 100%;
    }
    .win-container{
        flex-direction: column;
    }
     .item-container{
        background-color:lightblue;
        height:100%;
     }
    .item{
        display: flex;
        justify-content:space-between;
        
    }
    .win-blogs{
        grid-template-columns: repeat(2, 1fr);
    }
    .view-btn {
        display:flex;
     }
    
}










